**MORINGA SCHOOL EMAIL:** dennis.muriungi2@student.moringaschool.com

**PROJECT 1** : **Finding Aircraft with Low Risk for Business Growth.**

# **INTRODUCTION:**

**Context of Business:** 
Before making any purchases, our company, which is new to the aviation sector, wants to know which aircraft types are the least risky. The objective is to reduce the likelihood of deadly mishaps and guarantee safer operations for both residential and commercial applications. Evaluation of Kaggle aviation accident dataset (1919–2023).

**A. BUSINESS QUESTIONS**


1. Total fatalities by type of aircraft: the total effect of each model's accidents.

2. Location of Accidents by country

3. The time of accidents.


**Anticipated Result:** I will offer a transparent, data-driven ranking of aircraft types by risk level by integrating these information. This will enable the new aviation division to identify the factors that increase risk the greatest and choose aircraft models that have historically been safer with confidence.

In [59]:
#step 1
#IMPORT NECESSARY LIBRARIES WITH THEIR ALIASES
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [60]:
#step 2
#LOADING DATA
df = pd.read_csv("aviation-accident-data-2023-05-16.csv")
df

,date,type,registration,operator,fatalities,location,country,cat,year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown
...,...,...,...,...,...,...,...,...,...
23962,11-May-23,Hawker 900XP,PK-LRU,Angkasa Super Services,0,Maleo Airport (MOH),Indonesia,A2,2023
23963,11-May-23,Cessna 208B Grand Caravan,PK-NGA,Nasional Global Aviasi,0,Fentheik Airstrip,Indonesia,A2,2023
23964,12-May-23,Cessna 208B Grand Caravan,5X-RBR,Bar Aviation,0,Kampala-Kajjansi...,Uganda,A1,2023
23965,14-May-23,Boeing 747-4R7F,LX-OCV,Cargolux,0,Luxembourg-Finde...,Luxembourg,A2,2023
23966,15-May-23,Learjet 35A,D-CGFQ,GFD,2,Hohn Air Base,Germany,A1,2023

# **EXPLORING DATASET STRUCTURE**

In [61]:
#step 3
# Data types and missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23967 non-null  object
 1   type          23967 non-null  object
 2   registration  22419 non-null  object
 3   operator      23963 non-null  object
 4   fatalities    20029 non-null  object
 5   location      23019 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [62]:
#step 4
# Count missing values per column
df.isnull().sum()

date               0
type               0
registration    1548
operator           4
fatalities      3938
location         948
country            0
cat                0
year               0
dtype: int64

In [63]:
#step 5
# Quick summary of numerical columns
df.describe()

,date,type,registration,operator,fatalities,location,country,cat,year
count,23967,23967,22419,23963,20029,23019,23967,23967,23967
unique,15068,3201,21941,6017,369,14608,232,11,106
top,10-May-40,Douglas C-47A (DC-3),LZ-...,USAAF,0,unknown,USA,A1,1944
freq,171,1916,13,2604,10713,272,4377,17424,1505

# **DATA CLEANING**

In [64]:
df.duplicated().value_counts()

False    23852
True       115
dtype: int64

# **DATA VISUALIZATION**