**MORINGA SCHOOL EMAIL:** dennis.muriungi2@student.moringaschool.com

**PROJECT 1** : **Measuring Aircraft Safety within the “Aviation Accident from 1919–2023” dataset on Kaggle.**

**INTRODUCTION:**

Knowing that you need to travel by air for leisure or business purposes, identifying a safe Aircraft to travel with is essential. As a Data Scientist lead for my company, I am charged with determining which aircraft are the lowest risk for the company to start this new business endeavor.

In this Project, we will have 4 measures: 

1. Total Fatalities by aircraft type

2. Fatal Accident Rate

3. Most common aircraft types in accidents 

4. Trends by Years and Region

Some of the safety Aspects I can investigate are:


1. Location of the Accidents

2. Time the Accidents occurred

3. Differences in Operators: Private or Commercial

4. Accident Categories (cat): Engine failure, weather

5. Type of Aircraft

In [1]:
#LOADING DATA
#IMPORT NECESSARY LIBRARIES WITH THEIR ALIASES
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv("aviation-accident-data-2023-05-16.csv")
df

,date,type,registration,operator,fatalities,location,country,cat,year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown
...,...,...,...,...,...,...,...,...,...
23962,11-May-23,Hawker 900XP,PK-LRU,Angkasa Super Services,0,Maleo Airport (MOH),Indonesia,A2,2023
23963,11-May-23,Cessna 208B Grand Caravan,PK-NGA,Nasional Global Aviasi,0,Fentheik Airstrip,Indonesia,A2,2023
23964,12-May-23,Cessna 208B Grand Caravan,5X-RBR,Bar Aviation,0,Kampala-Kajjansi...,Uganda,A1,2023
23965,14-May-23,Boeing 747-4R7F,LX-OCV,Cargolux,0,Luxembourg-Finde...,Luxembourg,A2,2023
23966,15-May-23,Learjet 35A,D-CGFQ,GFD,2,Hohn Air Base,Germany,A1,2023